<h1>About Us </h1><br><br>
<div class="container">
  <div class="row mb-5">
    <div class="col-md-8">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <%= image_tag "go-learn.png", height: '250', width: '200', class: "card-img-top" %>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Go Learning</h3>
          <div class="mb-1 text-muted">♡</div>
          <p class="card-text mb-auto">Prepare for the board exam with Go Learning Academy. If you're a college student or professional preparing for the board exam, or just want to brush up on your skills, then you've come to the right place!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 d-flex justify-content-end">
    <div class="col-md-8">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-350 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Teachers</h3>
          <div class="mb-1 text-muted">♡</div>
          <p class="card-text mb-auto">Take advantage of teachers who are experts in the field of board exam review, providing comprehensive lessons that will increase your chance of success in becoming a licensed professional.</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <%= image_tag "Teacher.jpg", height: '250', width: '200', class: "card-img-top" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-8">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <%= image_tag "review_c.png", height: '250', width: '200', class: "card-img-top" %>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Review Centers</h3>
          <div class="mb-1 text-muted">♡</div>
          <p class="card-text mb-auto">We partner with reputable review centers around the country through our network of school partners.</p>
        </div>
      </div>
    </div>
  </div>
</div>
