<h1>Developer Team </h1><br><br>
<div class="container">
  <div class="row mb-5">
    <div class="row g-0 border rounded overflow-hidden flex-md  justify-content-between mb-4 shadow-sm h-md-250 position-relative p-5">
      <div class="col-auto d-none d-lg-block" style="text-align:center;">
        <h2 >Jerald Batal</h2>
        <p>Software Engineer</p>
        <%= image_tag "jerald.jpg", height: '200', width: '220', class: "card-img-top dev-image" %>
      </div>

      <div class="col-auto d-none d-lg-block" style="text-align:center;">
        <h2 >Stephanie Dajon</h2>
        <p>Software Engineer</p>
        <%= image_tag "steph.jpg", height: '200', width: '220', class: "card-img-top dev-image" %>
      </div>

      <div class="col-auto d-none d-lg-block" style="text-align:center;">
        <h2 >Brando Moreno</h2>
        <p>Software Engineer</p>
        <%= image_tag "brando.jpg", height: '200', width: '220', class: "card-img-top dev-image" %>
      </div>

       <div class="col-auto d-none d-lg-block" style="text-align:center;">
        <h2 >Ben Deloyola</h2>
        <p>Software Engineer</p>
        <%= image_tag "ben.jpg", height: '200', width: '220', class: "card-img-top dev-image" %>
      </div>
     
    </div>
  </div>

</div>

<style>

  .col-auto .dev-image {
    background:red;
}
</style>