<div class="container">
  <h1 class="card text-center bg-warning bg-gradient text-dark"><%= @subject.name %></h1>
  
  <h1>Lessons</h1>
  <%= render 'rc_pages/shared/lessons', lessons: @lessons %>
</div>
