<% if @teachers.any? %>
  <% @teachers.each do |teacher| %>
    <div class="teacherOption" id="<%= teacher.username %>">
      <h5><%= teacher.username %></h5>
      <span class="text-muted"><%= teacher.firstname.capitalize + " " + teacher.lastname.capitalize %></span>
    </div>
  <% end %>
<% end %>
