// Place all the styles related to the rc_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-brand{
  margin-right: 0 !important;
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  width: 12%;
  #drag1{
    padding: 0;
    width: 45%;
  }
}

.nav-link{
  padding: 0;
}

a{
  text-decoration: none !important;
}

//RC edit profile
.edit-form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  background-color: #ecd4b0;
}

// RC forgot password form
.forgot-pass-form{
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}

.invitation-img{
  height: 15rem !important;
}
